@{
    ViewBag.Title = "Error. Page was not found.";
}

<h2>Ooopppsss... Error.</h2>
<p>The requested page was not found. :(</p>

<div class="pull-left backHome">@Html.ActionLink("Back home", "Index")</div>